<div *ngIf="product">
    <div class="page-header">
            <h3>{{product.productName}}</h3>
            <a class="btn btn-warning" [routerLink]="['/edit-product/'+product.$key]">Edit</a>
    </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="{{imageUrl}}" alt="product image">
                    </div>
                    </div>
                <div class="col-md-8">
                    <h5>Description</h5>
                    <p>{{product.productDescription}}</p>
                    <h5>Location</h5>
                    <p>{{product.zipcode}}</p>
                    <!-- <iframe width="600" height="450" frameborder="0" style="border:0"
                    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAqFJjx8SnKncVjG-0rLKdgFvH5iOaD_ho&q=20910" allowfullscreen>
                    </iframe> -->
                </div>
            </div>
    </div>
